{% extends 'base.html.twig' %}

{% block title %}Page d'accueil{% endblock %}

{% block body %}

<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://www.ecranlarge.com/media/cache/1600x1200/uploads/image/001/385/fruits-basket-photo-1385329.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://static.hitek.fr/img/actualite/ill_m/904593580/lviwepnlxcq2s4m26exae30kgcg.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://www.geekgeneration.fr/wp-content/uploads/2021/10/Boruto-Naruto-Next-Generations.jpg" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<h1 class = "text-center">Articles recemment postés</h1>
{% for article in articles %}

<div class="card col-md-6 m-4" style="display:inline-block ; width: 18rem;">

{% if article.photo != NULL %}
<img src="{{article.photo}}" class="card-img-top" alt="...">
{% else %}

<img src="{{ asset('uploads/photo/' ~ article.photo)}}" class="card-img-top" alt="...">
{% endif %}

  
  <div class="card-body">
    <h5 class="card-title">{{ article.titre }}</h5>
    <p class="card-text">{{ article.description }}</p>
    <p class="card-text">{{ article.auteur }}</p>
    <span>{{article.publication | date ("d-M-Y")}}</span>
    {%  if is_granted('ROLE_ADMIN') %}
    <a href="{{path('app_article_delete', {'id': article.id})}}" class="btn btn-danger"><i class="text-warning fa fa-trash"></i></a>
    <a href="{{path('app_article_edit', {'id': article.id})}}" class="btn btn-success"><i class="text-warning fa fa-edit"></i></a>
    {% endif %}
    <br>
    <a href="{{path('app_view_article', {'id': article.id})}}" class="btn btn-success">Voir article</i></a>
  </div>
</div>

{% endfor %}
{% endblock %}
